/********** General ***********/

* {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --main-color: #9356DC;
    --second-color:#FF79DA;
    --main-bg-color: #F7F7F7;
    --footer-bg-color: #353535;
    --nouveau-txt-color: #008766;
    --nouveau-bg-color: #99E2D0;
}

.loader {
    height: 1vh;
    width: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height : 63px;
    box-shadow: 0px 2px 4px 0px #00000026;
    position: relative;
}

header .logo {
    width: 162px;
    height: 44px;
    grid-column: 2;
}

footer {
    display: flex;
    flex-direction: column;
    justify-items: left;
    background-color: var(--footer-bg-color);
    color: white;
    height: 186px;
    gap: 7px;
    padding: 22px 0px 22px 25px;
}

footer .logo {
    filter: invert(100%) sepia(21%) saturate(0%) hue-rotate(333deg) brightness(101%) contrast(103%);
    width: 137.58px;
    height: 27px;
    margin-bottom: 16px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.fa-utensils {
    align-self: center;
    font-size: 13px;
    margin-right: 5px;
}

.fa-handshake-angle {
    align-self: center;
    font-size: 13px;
}

.footer-lien {
    display: flex;
    gap: 11px;
    font-weight: 500;
}

.footer-infos {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 7px;
}

.footer-infos a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 24px;
    padding: 0px 20px 10px 20px;
}

h2 {
    font-size: 24px;
    padding-bottom: 26px;
}

/********** Main **********/

.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EAEAEA;
    height: 50px;
    gap: 19px;
    margin-bottom: 39.5px;
}

.localisation p {
    font-weight: 500;
}

.explorer{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 57px;
}

.explorer p{
    font-size: 18px;
    font-weight: 300;
}

.explorer-button {
    background: linear-gradient(to top, var(--main-color), var(--second-color));
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    height: 50px;
    width: 218px;
    border-radius: 25px;
    align-self: center;
    margin-top: 27px;
}

.explorer-button:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
    opacity: 0.7;
}


.fonctionnement {
    display: flex;
    flex-direction: column;
    padding: 48px 20px 68px 20px;
}

.fonctionnement-etapes {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;
}

.fonctionnement li {
    position: relative;
    display: flex;
    padding-left: 34.49px;
    align-items: center;
    background-color: #F6F6F6;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px #00000026;
    width: 322.49px;
    height: 72.38px;
    margin-left: 12px;
}

.fonctionnement-etapes p {
    position: absolute;
    left: -12px;
    padding-top: 2px;
    color: white;
    background-color: var(--main-color);
    width: 24px;
    height: 24px;
    border-radius: 50px;
}

.fa-mobile-screen-button {
    font-size: 19.9px;
    color: #7E7E7E;
    padding-right: 27px;
}

.fa-list-ul {
    font-size: 15.92px;
    color: #7E7E7E;
    padding-right: 23px;
}

.fa-store {
    font-size: 17.91px;
    color: var(--main-color);
    padding-right: 20px;
}

.restaurant {
    padding: 0px 15px 0px 14px;
    margin-bottom: 51px;
}

.restaurant h2 {
    padding-left: 6px;
}

.card {
    position: relative;
    margin-bottom: 10px;
    width: 346px;
}

.restaurant-cards img {
    object-fit: cover;
    padding: 0px 3px 0px 3px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 175px;
    width: 340px;
}

.restaurant-cards h3 {
    margin-bottom: 5px;
}

.card-content {
    position: relative;
    padding: 16px 0px 12px 13px;
}

.nouveaute {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding-top: 6px;
    width: 80px;
    height: 29px;
    color: var(--nouveau-txt-color);
    background-color: var(--nouveau-bg-color);
    border-radius: 2px;
}

.favoris {
    display: flex;
    position: absolute;
    top: 23px;
    right: 25px;
    font-size: 21px;
}

@keyframes full {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }

#resto1, #resto2, #resto3, #resto4 {
    display: none;
}

i.fav { 
    display: none;
    background: linear-gradient(to bottom, var(--main-color), var(--second-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    transition: all 500ms ease-in-out 0ms;
    animation: full 0.5s;
    opacity: 1;
}

#resto1:checked + label > i.fav {
    display: inline-block;
}

#resto1:checked + label > i.neutre {
    display: none;
}

#resto2:checked + label > i.fav {
    display: inline-block;
}

#resto2:checked + label > i.neutre {
    display: none; 
}

#resto3:checked + label > i.fav {
    display: inline-block;
}

#resto3:checked + label > i.neutre {
    display: none; 
}

#resto4:checked + label > i.fav {
    display: inline-block;
}

#resto4:checked + label > i.neutre {
    display: none; 
}


/********** Version Tablette **********/

/* @media (min-width: 1024px) */

/********** Version Desktop **********/

@media (min-width: 1280px) {

    * {
        max-width: 100%;
    }

    main {
        justify-items: center;
    }

    header .logo {
        justify-self: center;
    }
    
    footer {
        flex-direction: row-reverse;
        align-items: flex-end;
        padding: 0px 30px 30px 0px;
        height: 114px;
    }

    footer .logo {
        margin-right: 50px;
        margin-bottom: 0;
        margin-left: 80px;
    }

    .footer {
        display: flex;
        justify-content: right;
        margin: 0;
    }

    .footer-nav {
        flex-direction: row;
        margin: 0;
    }

    .footer-infos {
        flex-direction: row;
        margin-top: 0;
        margin-left: 40px;
    }

    h1 {
        font-size: 40px;
        font-weight: 700;
        padding-bottom: 28px;
    }

    .explorer {
        margin-bottom: 30px;
    }

    .explorer-button {
        margin-top: 18px;
    }

    .fonctionnement {
        padding: 50px 0px 50px 180px;
    }

    .fonctionnement h2 {
        margin-left: 65px;
    }

    .fonctionnement-etapes {
        flex-direction: row;
        margin-left: 77px;
    }

    .restaurant {
        padding: 0px 180px 0px 180px;
        margin-bottom: 66px;
    }

    .restaurant-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 60px;
        max-width: 1060px;
        padding-left: 65px;
    }

    .restaurant h2 {
        padding-left: 65px;
    }

    .restaurant-cards img {
        height: 175px;
        width: 498px;
    }
}